body {
  font-family: "Roboto", sans-serif;
  background-color: var(--white-color);
  color: var(--primary-text-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}

/* .main-nav {
  display: flex;
  align-items: center;
justify-content: space-around;
} */

.list {
  list-style: none;
  text-decoration: none;
}