.section-clients__title {
  margin-bottom: 50px;
  color: var(--title-text-color);
  @include font(null, 36px, 1.1666, null);
  text-align: center;
}

.clients-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.clients-list__client-item {
  width: 170px;
  height: 92px;
}
.clients-list__client-links {
  width: 100%;
  height: 100%;
  color: var(--social-icon-color);
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color var(--time) var(--timing-function),
    color var(--time) var(--timing-function);
    &:hover,
    &:focus {
      color: var(--accent-color);
      border: 1px solid var(--accent-color);
    }
    
    &:hover .clients-list__client-icon,
    &:focus .clients-list__client-icon {
      color: var(--accent-color);
    }
}
.clients-list__client-icon {
  fill: currentColor;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

