.list-li__feauters-li {
  flex-basis: calc((100% - 90px) / 4);
}

.features-icon {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  background-color: var(--background-grey-color);
  border-radius: 4px;
  align-items: center;
  text-transform: uppercase;
  width: 270px;
  height: 120px;
}

/* .features-icon:hover,
.features-icon:focus {
  border-color: var(--background-active-button);
} */

/* .hover-focus:hover,
.hover-focus:focus {
  border-color: var(--background-active-button);
} */

.list-li__features {
  color: var(--title-text-color);
  @include font(null, 14px, 1.1428, null);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.list-li__features-list {
  @include font(null, null, 1.7142, null);
  color: var(--primary-text-color);
}